* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Maven Pro";
}

@font-face {
  font-family: "Maven Pro";
  src: url("/Fonts/static/MavenPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/Fonts/static/MavenPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/Fonts/static/MavenPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/Fonts/static/MavenPro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/Fonts/static/MavenPro-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Maven Pro";
  src: url("/Fonts/static/MavenPro-Black.ttf");
  font-weight: 900;
}
.open-menu-icon:hover {
  background-color: white;
}
